@import url('https://fonts.cdnfonts.com/css/poppins');
html, body {
    margin: 0;
    padding: 0;
    height: 100%;
}

body {
    background-image: url('./bg_cmds.jpg');
    background-attachment: fixed;
    background-position: center;
    background-size: cover;
    padding: 0% 6% 3% 4%;
    text-shadow: 0px 2px 5px rgba(0,0,0,.3);
    font-family: Poppins, Helvetica, "sans-serif";
    font-size: 10px;
    color: #fff;
}

div:not(:first-child) {
    float: right;
}

div {
    display: inline-block;
}

p {
    text-transform: uppercase;
    text-align: center;
    font-size: 16px;
    margin: 15px 0px 0px 0px;
}

p::after {
    content: "";
    margin: 8px 0px;
    display: block;
    width: 100%;
    height: 2px;
    background: #FF8F00;
    box-shadow: 0px 2px 3px rgba(0,0,0,.2);
}

p:last-child {
    font-size: 14px;
    text-transform: none;
    text-align: right;
    color: #6f6f6f;
}

p:last-child::before {
    content: "";
    margin: 8px 0px;
    display: block;
    width: 100%;
    height: 3px;
    background: rgba(255, 255, 255, 0.18);
    box-shadow: 0px 2px 3px rgba(0,0,0,.2);
}

p:last-child::after {
    display: none;
}

table {
    background: rgba(0, 0, 0, 0.06);
    box-shadow: 0px 2px 10px rgba(0,0,0,.09);
}

tr:first-child {
    text-transform: uppercase;
}

tr:first-child td {
    color: #fff !important;
}

tr:nth-child(even) {
    background: rgba(0, 0, 0, 0.15);
}

td:nth-child(odd) {
    background: rgba(255, 255, 255, 0.03);
    color: rgba(181, 254, 87, 1.0);
}

body > div:first-child table td:last-child {
    color: #929292;
}

td:first-child {
    background: rgba(0, 0, 0, 0.09);
    color: #fff;
    padding: 5px 10px;
}

td:nth-child(2) {
    text-align: left;
    white-space: nowrap;
    overflow: hidden;
    max-width: 130px;
    width: 125px;
    font-size: 11px;
}

tr:not(:first-child) td:nth-child(3),
tr:not(:first-child) td:nth-child(4),
tr:not(:first-child) td:nth-child(5) {
    text-align: left;
    padding: 5px 6px;
}

td {
    padding: 5px 8px;
    text-align: center;
    color: #FF8F00;
}